h1{
    text-align:center;
}
p{
    text-align:center;
}
table{
    width:30%;
    background-color:#FFC;
    border: 2px dotted #FFC;    
    margin:auto;
}

.izq{
    text-align:right;
}
.der{
    text-align:left;
}
td{
    text-align:center;
    padding:10px;
}